<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="hibernateApplication.xml"/>
    <!--service-->
    <bean id="accountService" class="com.wgh.service.AccountServiceImpl">
        <property name="accountDao" ref="accountDao"></property>

    </bean>
    <!--web-->
    <bean id="accountAction" class="com.wgh.web.AccountAction" scope="prototype">
        <property name="accountService" ref="accountService"></property>
    </bean>
    <!--dao-->
    <bean id="accountDao" class="com.wgh.Dao.accountDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>
